# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
.venv/
venv/
env/

# Entornos / secretos
.env
.env.local

# Editores e IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
